<section class="col-left" ng-controller="CatsCtrl2">
	<input type="text" ng-model="search2.$">
	<ul>
		<li ng-repeat="cat in data.felines | orderBy: 'isCat=true' | filter: search2">{{cat.name | uppercase}} {{cat.mood | lowercase}}</li>
	</ul>
	<meow></meow>
	
	<p><a href="http://espn.com" hover="panel" action="hello()">hover me!</a></p>

	<p><a href="/#opentable">OpenTable</a></p>

	<p>
		<reservation
			data-partysize="2"
			data-datetime="7:00"
			data-requests="Happy Valentine's Day">
			House of Prime Rib
		</reservation>
	</p>
</section>